<div class="categories">
  <div matDialogTitle class="categories__header">
    Выберите подходящую вам категорию
  </div>
  <div matDialogContent class="categories__main">
    <app-categories-list
      class="category"
      (categorySelected)="selectCategory($event)"
      categoryLevel="{{ CategoryLevel.HIGH }}"
      [categoriesList]="clhList">
    </app-categories-list>

    <app-categories-list
      class="category"
      (categorySelected)="selectCategory($event)"
      categoryLevel="{{ CategoryLevel.MEDIUM }}"
      [categoriesList]="clmList">
    </app-categories-list>

    <app-categories-list
      class="category"
      (categorySelected)="selectCategory($event)"
      categoryLevel="{{ CategoryLevel.LOW }}"
      [categoriesList]="cllList">
    </app-categories-list>
  </div>
</div>
