@import "~src/styles/typo";

:host {
  @include t-body();

  display: flex;
  width: 100%;
  height: calc(60vh - 190px);
  overflow: hidden;
}

.categories {
  display: flex;
  flex: auto;
  width: 100%;
  flex-direction: column;

  &__main {
    display: flex;
  }
}

.category {
  overflow: scroll;
  width: calc(60vw / 3);

  &:nth-child(2) {
    margin: 0 10%;
  }
}
