<div class="search">
  <div class="container">
    <div class="search__department">
      <mat-form-field>
        <mat-select
          [value]="chosenComplex$ | async"
          (selectionChange)="complexChanged($event)"
        >
          <mat-option *ngFor="let item of complexes | keyvalue" [value]="item.key">
            {{ item.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search__field">
      <mat-icon
        class="search__icon"
        [ngClass]="{'search__icon--focused': isSearchFocused$ | async}"
      >
        search
      </mat-icon>

      <input
        type="text"
        class="search__input"
        (focus)="isSearchFocused$.next(true)"
        (blur)="isSearchFocused$.next(false)"
        [placeholder]="'Поиск'"
        [formControl]="searchInput"
      >
    </div>

    <div class="search__actions actions">
      <button
        class="actions__button"
        [routerLink]="['/market/add']"
        mat-flat-button
        color="primary">
        + Объявление
      </button>
    </div>
  </div>
</div>
