@import "~src/styles/typo";
@import "~src/styles/colors";
@import "~src/styles/screens";

:host {
  @include t-body;
}

.search {
  display: flex;
  border-bottom: 1px solid $border-color;
  height: 48px;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__department {
    flex-grow: 0;
    display: none;
    border-right: 1px solid $border-color;

    @include desktop() {
      display: flex;
    }
  }

  &__field {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &__input {
    padding: 16px 0;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 8px;
  }

  &__icon {
    margin-left: 8px;
    color: $icon-inactive;

    &--focused {
      color: $accent;
    }
  }

  &__feature {
    position: absolute;
    line-height: 44px;
    height: 44px;
    overflow: hidden;
    transition: all 0.2s;
    transform: translate(0, 0) scale(1, 1);

    &--float {
      transform: translate(-21px, -15px) scale(0.74, 0.74);
    }
  }

  .feature {
    animation-name: featureKeyFrame;
    animation-duration: 4s;
  }

  @keyframes featureKeyFrame {
    0%   { transform: translateY(-100%) }
    25%  { transform: translateY(-75%)  }
    50%  { transform: translateY(-50%)  }
    75%  { transform: translateY(-25%)  }
    100% { transform: translateY(0%)    }
  }

  .actions {
    &__button {

    }
  }

  // Overwrite material styles
  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 9px;
    }

    .mat-form-field-underline {
      display: none;
    }

    .mat-select-arrow-wrapper {
      visibility: hidden;
    }
  }
}
