@import "~src/styles/typo";
@import "~src/styles/colors";

:host {
  @include t-body;

  color: $white;
  background-color: $footer-bg;
}

.footer {
  display: flex;

  .container {
    padding: 0;
  }
}
