<div class="market container">
  <div class="market__container market__container--divided">
    <h1 class="market__title mat-h1">Подать объявление</h1>
  </div>

  <div class="market__container">
    <div class="market__section market__name">
      <mat-form-field appearance="outline">
        <mat-label>Заголовок</mat-label>
        <input matInput placeholder="Заголовок">
      </mat-form-field>
    </div>

    <div class="market__section market__categories">
      <button
        mat-stroked-button
        color="primary"
        (click)="openCategoriesDialog()"
      >
        Выберите категорию
      </button>
    </div>

    <div class="market__section market__description">
      <mat-form-field appearance="outline">
        <textarea matInput placeholder="Описание товара"></textarea>
      </mat-form-field>
    </div>

    <div class="market__section market__photos">
      <app-images-uploader></app-images-uploader>
    </div>
  </div>
</div>
