@import "../../../../styles/typo";
@import "../../../../styles/colors";

:host {
  @include t-body();
}

.category {
  margin-top: 16px;

  &__container {
    margin: 0 25%;
    padding: 16px 0;
  }

  &__form {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 16px;
  }

  &__title {
    margin: 0;
  }

  &__name, &__description {
    display: flex;
    flex: auto;

    * {
      width: 100%;
    }
  }
}
